################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureRedis/AzureRedisSample/.vs/AzureRedisSample
/AzureRedis/AzureRedisSample/bin/Debug/net6.0
/AzureRedis/AzureRedisSample/obj
